# Numbers

In [1]:
5+5

10

In [2]:
10*2

20

In [3]:
5-3

2

In [4]:
8/2

4.0

In [6]:
# it is a flor function it does'nt give the decimal point
15//2

7

In [7]:
8%2

0

# Variable argument

In [10]:
x=5
x

5

In [11]:
#if we want to check the data type 
type(x)

int

In [12]:
my_income = 100
tax_rate = 0.1
My_taxes = my_income*tax_rate

In [13]:
My_taxes

10.0

# introductin to strings

In [14]:
'hello world'

'hello world'

In [15]:
print('hello world')

hello world

In [16]:
#if we wnat to check the length of the string 
len('hello world')

11

In [17]:
# Sting indexing slicing and stepping

In [18]:
My_string = 'hello world'

In [19]:
#indexing
My_string[0]

'h'

In [20]:
#slicing
My_string[1:6]

'ello '

In [21]:
#stepping
My_string[0:8:2]

'hlow'

In [24]:
# string is immutable
name='sam'
last_letter = name[1:]
'p'+last_letter

'pam'

In [25]:
x='sudeep'
x.upper()

'SUDEEP'

In [26]:
y='SAM'
y.lower()

'sam'

In [27]:
x='hello world'
x.split()

['hello', 'world']

In [28]:
# String Formating
# 1) .format()
# 2) fstring()
X  = "Sudeep"
print('welcome {}'.format(X))

welcome Sudeep

In [31]:
x="Python"
print(f'i love {x} ')

i love Python

# List

In [32]:
my_list = [1,2,3,4,5,6,7]

In [33]:
my_list

[1, 2, 3, 4, 5, 6, 7]

In [34]:
my_list[0]='ONE'

In [35]:
my_list

['ONE', 2, 3, 4, 5, 6, 7]

In [36]:
#list concatination
list1=[1,2,3,4,5,6]
list2=[7,8,9,10]
list1+list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
new_list=[1,2,3,4,5,6]
# if you want to insert the elemenyt use append() function
new_list.append(7)

In [39]:
# 7 get append
new_list

[1, 2, 3, 4, 5, 6, 7]

In [42]:
# i you want to remove the element use pop() function
new_list.pop()

5

In [43]:
# for sorting the list
new_list1=[2,1,3,7,5,6,4,8]
new_list1.sort()

In [44]:
new_list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [45]:
# for reversing the list
new_list1.reverse()

In [46]:
new_list1

[8, 7, 6, 5, 4, 3, 2, 1]

# Dictionaries

In [47]:
dict1 = {'key1':'val1','key2':'val2','key3':'val3'}

In [48]:
dict1

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

In [49]:
price_lookup = {'apple':200,'orange':150,'milk':20}

In [50]:
price_lookup

{'apple': 200, 'orange': 150, 'milk': 20}

In [51]:
price_lookup.keys()

dict_keys(['apple', 'orange', 'milk'])

In [52]:
price_lookup.values()

dict_values([200, 150, 20])

In [53]:
price_lookup.items()

dict_items([('apple', 200), ('orange', 150), ('milk', 20)])

# Tuples

# tuple is similar to list but tuples are immutable

In [55]:
t = (1,2,3,4,5,6)

In [56]:
t

(1, 2, 3, 4, 5, 6)

In [57]:
type(t)

tuple

In [62]:
t = (1,1,1,1,1,1,2,2,2,2,3,3,3,)
t.count(1)

6

# sets

In [63]:
my_set = set()
my_set.add(1)

In [64]:
my_set

{1}

In [66]:
my_set.add(2)
my_set

{1, 2}

In [70]:
my_list = [1,2,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,5,6,6,]
set(my_list)

{1, 2, 3, 4, 5, 6}

# Boolean

In [71]:
1==1

True

In [72]:
1>6

False

In [73]:
3!=3

False

In [74]:
('h'=='h') and ('k'=='K')

False

#  if elif and else statements

In [76]:
hgt = 15
if hgt ==12:
    print("the person is short")
elif hgt ==15:
    print('the person is tall')

the person is tall

In [77]:
name = 'Sudeep'
if name == 'Sandeep':
    print("hello sandeep")
elif name=='Sudeep':
    print("welcome Sudeep")
else:
    print("i don't know")

welcome Sudeep

#  For loop

In [89]:
my_list = [1,2,3,4,5,6,7,8,9]
for num in my_list:
    if num%2==0:
        print(f'even number {num} \n')
    else:
        print(f'odd number {num} \n')

odd number 1

even number 2

odd number 3

even number 4

odd number 5

even number 6

odd number 7

even number 8

odd number 9

In [90]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

#  while Loop

In [93]:
x=5
while x<=5:
    print(f'the current value of x is {x}')
    x=x+1
else:
    print('x is not less than 5')

the current value of x is 5
x is not less than 5

In [94]:
#Enumarator
word = 'abcdef'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')

In [97]:
# in keyword
'a' in 'a world'

True

In [98]:
# List comprehension

In [99]:
my_list = []
for x in [2,4,6]:
    for y in [100,200,300]:
        my_list.append(x*y)
    print(my_list)

[200, 400, 600]
[200, 400, 600, 400, 800, 1200]
[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [100]:
#list comprehension
my_list = [x*y for x in [2,4,6] for y in [100,200,300]]
print(my_list)

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [101]:
my_list = [x for x in range(10)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
my_list = [x**2 for x in range(0,11) if x%2==0]
print(my_list)

[0, 4, 16, 36, 64, 100]

In [103]:
celcius = [0,10,20,30,40,50,60,70,80,90]
fahrenheit = [((9/5)*temp+32) for temp in celcius]
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0, 194.0]

# Functions in Python

In [104]:
def add(a,b):
    return a+b

In [105]:
add(5,10)

15

In [106]:
def odd_or_evevn(num):
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [107]:
odd_or_evevn(50)

the number is even

In [2]:
# takin input from the user
p = int(input("enter the principal amount  "))
r = int(input("enter the rate   "))
t = int(input("enter the time   "))
print(p)
print(r)
print(t)
si = p*t*r/100
print("the simple intrest is {}".format(si))

enter the principal amount  5000
enter the rate   5
enter the time   2
5000
5
2
the simple intrest is 500.0

#  *args and **kwargs

In [3]:
def myfun(*args):
    return sum(args)*0.05
myfun(40,50,60,100)

12.5

In [4]:
def mufun(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs[fruit]))
    else:
        print('i did not find any fruit')

# Lambda expression , map , filter

In [10]:
def square(num):
    return num**2
my_num=[1,2,3,4,5]
for item in map(square,my_num):
    print(item)

1
4
9
16
25

In [20]:
def square(num):
    return num**2
my_num=[1,2,3,4,5]
list(map(square,my_num))

[1, 4, 9, 16, 25]

In [21]:
def square(num):
    return num**2
square(5)

25

In [24]:
square = lambda num : num**2
square(5)

25

In [27]:
def check_even(num):
    return num%2==0
my_num = [10,56,42,32,80,41,21,33,71]
list(filter(check_even,my_num))

[10, 56, 42, 32, 80]

# Objet Oriented Programming

# Class and object

In [65]:
class Dog():
    def __init__(self,breed):
        self.breed = breed

In [66]:
my_dog = Dog(breed='lab')
my_dog.breed

'lab'

In [68]:
class circle():
    pi=3.14
    def __init__(self,radius=1):
        self.radius=radius
    def get_circumferance(self):
        return self.radius*self.pi*2

In [70]:
my_circle=circle(30)
my_circle.get_circumferance()

188.4

In [73]:
def gen_fibon(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [74]:
for number in gen_fibon(10):
    print(number)

1
1
2
3
5
8
13
21
34
55

In [75]:
def cubes(n):
    for x in range(n):
        yield x**3

In [76]:
for x in cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729